<div class="beautify-form" *ngIf="!showLoading">
  <div class="page-header">
   SIGN IN
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="form-group" [ngClass]="{ 'has-danger': (form.controls.userName.dirty || form.controls.userName.prinstine) && form.controls.userName.invalid && form.controls.userName.value ,'has-success': (form.controls.userName.dirty || form.controls.userName.prinstine) && form.controls.userName.valid && form.controls.userName.value }">
      <div class="input-group input-group-lg">
        <span class="input-group-addon icon icon-ordinarylogin1"></span>
        <input type="text" class="form-control" formControlName="userName" placeholder="UserName">
      </div>
      <div class="form-control-feedback" *ngIf="(form.controls.userName.dirty || form.controls.userName.prinstine) && form.controls.userName.invalid && form.controls.userName.value">Illegal</div>
      <div class="form-control-feedback" *ngIf="(form.controls.userName.dirty || form.controls.userName.prinstine) && form.controls.userName.valid && form.controls.userName.value">Pass</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': (form.controls.password.dirty || form.controls.password.prinstine) && form.controls.password.invalid && form.controls.password.value ,'has-success': (form.controls.password.dirty || form.controls.password.prinstine) && form.controls.password.valid && form.controls.password.value }">
      <div class="input-group input-group-lg">
        <span class="input-group-addon icon icon-mima"></span>
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
      </div>
      <div class="form-control-feedback" *ngIf="(form.controls.password.dirty || form.controls.password.prinstine) && form.controls.password.invalid && form.controls.password.value ">Illegal</div>
      <div class="form-control-feedback" *ngIf="(form.controls.password.dirty || form.controls.password.prinstine) && form.controls.password.valid && form.controls.password.value ">Pass</div>
    </div>
    <div class="form-group ">
      <div class="flex">
        <div class="beautify-wrap flex-wrap">
          <input type="checkbox" class="beautify-checkbox" name="rememberme" id="rememberAccount" formControlName="rememberAccount">
          <label for="rememberAccount"></label>Remember Me
        </div>
        <!--<a [routerLink]="['/account/reset-pw']">reset-pw</a>-->
      </div>
    </div>
    <div class="message-tips" *ngIf="messageTips">
      <i class="icon icon-error"></i>  {{messageTips}}
    </div>
    <div class="form-group ">
      <button class="btn btn-lg btn-outline-success btn-block" type="submit" [disabled]="form.controls.userName.invalid || form.controls.password.invalid">Submit</button>
    </div>
    <div class="form-group">
      <span class="noaccount-notify">No Account?</span><a [routerLink]="['/account/signup']" class="collect-user">Sign Up</a>
    </div>
  </form>
</div>
<div class="loading" *ngIf="showLoading">
  <app-mit-loading [option]="'load4'"></app-mit-loading>
</div>
