@charset 'UTF-8';
@import '../../../../../assets/scss_styles/custom_scss/_custom-export.scss';
.flex-wrap {
  @include flex;
}

.flex {
  @include flex(space-between, center);
  padding: 0 0.1rem;
  color: #f9f9f9;
  a {
    @include remove-a-default-behavior;
  }
}

.beautify-form {
  min-width: 25rem;
  width: 30rem;
  @include center-block;
  .page-header {
    font-weight: 200;
    font-size: toRem(50px);
    color: #FFF;
    padding: 60px 0;
  }
  .input-group-addon {
    background-color: transparent;
    color: #bbbbbd;
    border-right: none;
    background-color: rgba(111, 111, 119, 0.6);
  }
  .form-control {
    background-color: rgba(0, 0, 0, 0.15);
    color: #f9f9f9;
    box-shadow: none;
    @include placeholder-color(#f9f9f9);
  }
  .noaccount-notify {
    color: #fff;
    &+a {
      padding: 0 0.5rem;
    }
  }
  .has-success {
    .input-group-addon,
    input {
      border-color: #04c57b;
    }
    .form-control-feedback{
      color:#04c57b;
    }
  }
  .btn {
    color: #04c57b;
    border-color: #04c57b;
    &:hover,
    &:active {
      background-color: #04c57b;
      color: #fff;
    }
  }
  .message-tips{
    padding: 10px 0;
    color: #d9534f;
  }
}
